<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elektron Kitoblar</title>
</head>
<body>
    <br>
    <h1>Elektron kitoblar sahifamizga xush kelibsiz</h1>
    <br>
    <br>
    <hr>
    <a href="/bolim/"><h1>Bo'limlar</h1></a>
    <br>
    <br>
    <a href="/kitoblar/"><h1>Kitoblar</h1></a>
    <br>
    <br>
    <a href="/tirik_muallif/"><h1>Tirik Muallif Kitoblari</h1></a>
    <br>
    <a href="/register/"><h1>Register</h1></a>
    <br>
    <a href="/login_view/"><h1>Login</h1></a>
    <br>
    <a href="/logout_view/"><h1>Logout</h1></a>
</body>
</html>

